html {
  font-size: 16px;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding-bottom: 1rem;
  background-color: #14141f;
  color: #FFFFFF;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.05em;
}

body.baseline {
  background-image: linear-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px);
  background-size: 100% 0.5rem;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Playfair Display', serif;
  line-height: 1;
  letter-spacing: 0;
  margin-top: 3rem;
  margin-bottom: 0;
}

h1, .h1 {
  font-size: 4em;
}

h2, .h2 {
  font-size: 3em;
}

h3, .h3 {
  font-size: 2.5em;
}

h4, .h4 {
  font-size: 2em;
}

p {
  margin-top: 2rem;
  margin-bottom: 0;
}

a {
  color: inherit;
}

.row--dark {
  background-color: rgba(0,0,0,0.3);
}

.row__inner {
  max-width: calc(800px + 2rem);
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}


.article__metadata {
  margin-top: 3rem;
  margin-bottom: -2rem;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  line-height: 1;
  opacity: 0.75;
}

.article__lead {
  margin-top: 3rem;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  letter-spacing: 0.025em;
  font-size: 1.5em;
  line-height: 1.6666666666;
}

.article__lead:first-letter {
  float: left;
  font-size: 3.2em;
  line-height: 1;
  padding-right: 0.05em;
}

.photo {
  display: block;
  position: relative;
  margin: 2rem 0 0;
  padding: 0.5rem 0;
}

.photo--with-caption {
  padding-top: 2rem;
}

.photo__img {
  display: block;
  width: 100%;
}

.photo__caption {
  margin-top: 0.5rem;
  text-align: right;
  font-style: italic;
  line-height: 1;
}

.photo-caption:before {
  content: "\2014";
}

.quote {
  position: relative;
  margin: 2rem;
  padding-left: 2rem;
}

.quote:before {
  content: "\201C";
  position: absolute;
  top: -1rem;
  left: 0;
  opacity: 0.5;
  font-size: 6rem;
  line-height: 1;
}

.quote:after {
  content: "";
  display: block;
  clear: both;
}

.quote__text {
  line-height: 1.25;
}

.quote__citation {
  float: right;
}

.quote__citation:before {
  content: "\2014";
}

.map {
  margin: 2rem 0;
  height: 90vh;
}
