.post {
  padding-bottom: 2rem;
}

.post p {
  margin-top: 2rem;
}

.post-body p {
  max-width: 52rem; /*calc(800px + 2rem);*/
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.post h1,
.post h2,
.post h3,
.post h4,
.post h5,
.post h6,
.post .h1,
.post .h2,
.post .h3,
.post .h4,
.post .h5,
.post .h6 {
  margin-top: 2rem;
}

@media (min-width: 600px) {
  .post h1,
  .post h2,
  .post h3,
  .post h4,
  .post h5,
  .post h6,
  .post .h1,
  .post .h2,
  .post .h3,
  .post .h4,
  .post .h5,
  .post .h6 {
    margin-top: 3rem;
  }
}

.post-body p:first-child,
.text-lead {
  margin-top: 2rem;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  letter-spacing: 0.025em;
  font-size: 1.1em;
}

@media (min-width: 600px) {
  .post-body p {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .post-body p:first-child,
  .text-lead {
    margin-top: 3rem;
    font-size: 1.25em;
    line-height: 1.6666666666;
  }

  .post-body p:first-child:first-letter {
    float: left;
    font-size: 3.35em;
    line-height: 0.9;
    padding-right: 0.05em;
  }
}

.post-title-holder {
  min-height: 100vh;
  background-size: cover;
  background-position: 50% 50%;
}

.post-title-holder--home {
  min-height: 75vh;
  background-position: 50% 100%;
}

.post-title-holder--home h1 {
  max-width: 7em;
}

.post-top-wrapper {
  position: relative;
  z-index: 1;
}

.post-top-wrapper:before {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  height: 6rem;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.6) 100%);
}


.post-title-holder .post-top-wrapper:before {
  content: "";
}

.post-title-holder--home .post-top-wrapper:before {
  content: none;
}

.post-title-and-date {
  position: relative;
  transform: translateY(calc(100vh - 100% - 7.5rem));
}

.post-title-holder--home .post-title-and-date {
  transform: translateY(calc(75vh - 100% - 2rem));
}

.post-title-and-date:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: -2rem;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.6) 100%);
}

@media (min-width: 600px) {
  .post-title-and-date {
    transform: translateY(calc(100vh - 100% - 8.5rem));
  }

  .post-title-holder--home .post-title-and-date {
    transform: translateY(calc(75vh - 100% - 3rem));
  }

  .post-title-and-date:before {
    bottom: -3rem;
  }
}

.post-section {
  background-color: rgba(0,0,0,0.3);
}
