.text-lead {
  margin-top: 2rem;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  letter-spacing: 0.025em;
  font-size: 1.1em;
}

@media (min-width: 600px) {
  .text-lead {
    margin-top: 3rem;
    font-size: 1.25em;
    line-height: 1.6666666666;
  }

  .text-lead:first-letter {
    float: left;
    font-size: 3.35em;
    line-height: 0.9;
    padding-right: 0.05em;
  }
}
