.loading-post {
  position: relative;
  height: 104px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.3) 0, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.3) 50%);
  animation: placeholder-shimmer 1s linear infinite;
}

.loading-post__mask {
  position: absolute;
  background-color: #14141f;
}

.loading-post__mask--1 {
  top: 0;
  left: 200px;
  right: 0;
  height: 16px;
}

.loading-post__mask--2 {
  top: 16px;
  left: 0;
  right: 0;
  height: 8px;
}

.loading-post__mask--3 {
  top: 24px;
  left: 60%;
  right: 0;
  height: 32px;
}

.loading-post__mask--4 {
  top: 56px;
  left: 0;
  right: 0;
  height: 8px;
}

.loading-post__mask--5 {
  top: 80px;
  left: 0;
  right: 0;
  height: 8px;
}

.loading-post__mask--6 {
  top: 88px;
  right: 0;
  width: 100px;
  height: 16px;
}

@keyframes placeholder-shimmer {
  0% {
    background-position: -700 0;
  }

  100% {
    background-position: 700px 0;
  }
}
