.home-grid {
  display: grid;
  padding: 1rem;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  min-height: 100vh;
  grid-auto-flow: column;
}

.home-grid__item--stats {
  display: flex;
  flex-direction: column;
}

.home-grid__item--map {
  margin-top: -1rem;
  margin-right: -1rem;
  margin-bottom: -1rem;
  grid-row-end: span 4;
}

.home-grid__heading {
  display: flex;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.home-grid__subtitle {
  margin-top: 0;
  font-size: 1rem;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  letter-spacing: 0.05em;
  line-height: 1;
}

.home-grid__more-link {
  margin-left: auto;
  line-height: 1;
}
