.container {
  max-width: 52rem; /*calc(800px + 2rem);*/
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 600px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.container--padded {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.container--padded-top {
  padding-top: 2rem;
}

.u-spaced-top--half {
  margin-top: 0.5rem;
}

.u-spaced-top {
  margin-top: 1rem;
}

.u-spaced-top--double {
  margin-top: 2rem;
}

.u-screen-reader {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
