.photos-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1rem;
  grid-auto-rows: minmax(120px, auto);
  flex-grow: 1;
}

.photos-grid__item {
  display: block;
  /*position: relative;
  min-height: 100px;*/
  background-size: cover;
}
